[Unit]
Description=Generate sshd host keys
ConditionPathExists=|!/etc/ssh/ssh_host_rsa_key
ConditionPathExists=|!/etc/ssh/ssh_host_ecdsa_key
ConditionPathExists=|!/etc/ssh/ssh_host_ed25519_key
Before=sshd.service

[Service]
Type=oneshot
RemainAfterExit=yes
#ExecStart=/usr/bin/ssh-keygen -A
ExecStart=/bin/bash -c 'ssh-keygen -t rsa -b 2048 -f /etc/ssh/ssh_host_rsa_key -N "" & ssh-keygen -t ecdsa -b 256 -f /etc/ssh/ssh_host_ecdsa_key -N "" & ssh-keygen -t ed25519 -f /etc/ssh/ssh_host_ed25519_key -N ""; wait'
[Install]
WantedBy=multi-user.target
