[Unit]
Description=Load Iptables Rules
ConditionFileIsExecutable=/etc/systemd/scripts/iptables
DefaultDependencies=no
After=network.target

[Service]
Type=forking
ExecStartPre=/sbin/modprobe nf_conntrack
ExecStartPre=/sbin/modprobe xt_LOG
ExecStart=/etc/systemd/scripts/iptables
ExecStop=/etc/systemd/scripts/iptables.stop
TimeoutSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
